/* ========== Preloader ========== */
#preloader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  background: radial-gradient(circle at top, #5a0f2c, #050014);
  z-index: 9999;
  color: #fff;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}


#preloader.hide {
  opacity: 0;
  visibility: hidden;
}

.loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;        
  text-align: center;
}

.loader-icons {
  display: flex;
  gap: 1.5rem;
  margin: 0;
}

.loader-icons span {
  padding: 0.8rem;
  border-radius: 999px;
  box-shadow: 0 0 20px rgba(234, 234, 235, 0.7);
}

.loader-content h1,
.loader-content p {
  margin: 0;
}

#preloader h1 span {
  color: #efff0a;
}

.loader-url {
  margin-top: 1rem;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  opacity: 0.8;
}


.loader-url::after {
  content: "|";
  display: inline-block;
  margin-left: 2px;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
